.body {
    font-family: Arial, Helvetica, sans-serif;
}

.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputBox {
    padding: 8px;

}

button {
    font-size:  large;
    padding: 8px;
}

input {
    font-size: large;

}

.resetButton{
    
    padding: 8px;
}

.spacer {
    margin: 10px;
}

.container {
    margin-top: 16px;
    border: 2px solid black;
    margin: auto;
    width: 1000px;
    height: 600px;
    display: grid;
}

.box {
 border: 1px solid black;
 size: auto;
 background-color: white;
}

.weirdButton {   
    align-items: center;
    padding: 8px;
}

.hoveredBox {
    background-color: blue;
}

.credits {
    padding-top: 8px;
    text-align: center;
}